name: First Test Workflow
on: [push, pull_request, workflow_dispatch, issues]
jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Lint code
        run: |
          echo "Linting code..." 
          npm run lint 
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v2
      - name: Install node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Run tests
        run: |
          echo "Running tests..."  
          npm test
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: Building project
        run: npm exec vite -- build
      - name: Artifact upload
        uses: actions/upload-artifact@v5
        with:
          name: build-artifact
          path: dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: build-artifact
          path: dist
      - name: Run a one-line script
        run: echo Deploying application...
      - name: Print GitHub Context
        run: |
          echo "GitHub Context:"
          echo "Repository: ${{ github.repository }}"
          echo "Event Name: ${{ github.event_name }}"
          echo "Ref: ${{ github.ref }}"
          echo "Actor: ${{ github.actor }}"
          echo "Workflow: ${{ github.workflow }}"